body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.h1, .head {
  text-align: center;
  margin-bottom: 20px;
}

.h1 {
  font-size: xx-large;
  font-family: 'Lato', sans-serif;
  background: radial-gradient(circle, rgba(172,181,73,1) 0%, rgba(189,85,37,1) 35%, rgba(63,27,156,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.head {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/src/assets/images/login2.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.input-field, .password-container .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #8400ff;
  outline: none;
}

.password-container {
  position: relative;
  margin-bottom: 15px;
}

.visibility-toggle {
  position: absolute;
  right: 10px;
  top: 72%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.register, .forgot-password a {
  color: #000000;
}

.forgot-password a:hover {
  text-decoration: underline;
}

